.section {
  background-color: darkslategrey;
  padding: 1rem;
  margin: 1rem;
}

.parrafo{
  background: white;
  padding: 1rem;
}

.parrafo.dragging {
  opacity: 0.3;
}

.papelera {
  width: 100px;
  height: 100px;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSSMWeEC0tULzOjfWFAOdOHjUw9WjXhBDbirg&usqp=CAU);
  background-size: contain;
  margin: auto;
}